<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miscos.staffhandler">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- //<uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".employee.helper.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/staffimage"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".ssa.policynruledocumentation.PolicyAndRuleDocumentActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".ssa.shiftwiseattendance.ShiftWiseAttendActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".ssa.leavemanagment.LeaveManagementActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ssa.latearrivalearlydeparture.LateArrivalEarlyDepartureActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ssa.inout.InOutActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.ReportFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.ReportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ssa.departdesignation.DepartAndDesignationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".employer_java.activity.MapActivity"

            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".employer_java.activity.AddHolidayActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".employer_java.activity.HolidayManagement"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".shiftmanagement.FragmentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ManualAttendanceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.OldEmpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.UserManual" />
        <activity android:name=".activities.ContactUs" />
        <activity
            android:name=".activities.HelpandSupport"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EmployeeZone"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EmployeeReport"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".employer_java.activity.MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddEmployee"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EmployerZone"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EmployeeDayActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UpdateEmployee"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".employee.employeemodule.EmployeeActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".employee.employeemodule.Activity_PinLogin"
            android:screenOrientation="nosensor"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".employee.employeemodule.Activity_ScanQrCode"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".employee.employeemodule.RegisterActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".employee.employeemodule.Activity_SetupPin"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MultipleSelectionActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shiftmanagement.fragments.AdminSettings"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shiftmanagement.fragments.SpecialManagement"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shiftmanagement.fragments.HolidayAttendance"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shiftmanagement.fragments.ShiftManagement"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shiftmanagement.fragments.RosterManagement"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shiftmanagement.fragments.WifiManagement"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.hrms.activity.LeaveAuthorityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.hrms.activity.OldEmployeeFeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.hrms.activity.ApplyLeaveActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.hrms.activity.EmployeeFeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.hrms.activity.SalaryInformationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.PolicyAndConfiguration"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.EmployeeHRMS.EmployeeInformationHRMS"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.EmployeInformation"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hrms_management.SalTransferNCalculations.SalaryCalculationAndTransfer"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".NotificationActionReceiver">

        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCvGZrY_d4ywtukRKneZiVNA8ooatmT8UM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_IJNnuhps1VFiUP" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>